<?xml version="1.0" encoding="UTF-8" ?>

<!-- @file config.xml -->
<!-- @author Jesús López Rodríguez (jlopezpeque@hotmail.com) -->
<!-- @date 16/02/2022 -->
<!-- @brief File with the program configurations -->
<!-- @copyright Copyright (c) 2022 -->


<Config>
    <NParticulas>40</NParticulas>
    <NHebras>8</NHebras>
    <NMaxIteraciones>200</NMaxIteraciones>
    <CSocial>0.8</CSocial>
    <CCognitiva>0.8</CCognitiva>
    <CInercia>0.6</CInercia>
    <KValor>17</KValor>
    <SIMD>1</SIMD>
</Config>