<?xml version="1.0" encoding="UTF-8" ?>

<!-- @file config.xml -->
<!-- @author Jesús López Rodríguez (jlopezpeque@gmail.com) -->
<!-- @date 16/02/2022 -->
<!-- @brief File with the program configurations -->
<!-- @copyright Copyright (c) 2022 -->


<Config>
    <NParticulas>200</NParticulas>
    <NHebras>28</NHebras>
    <NMaxIteraciones>150</NMaxIteraciones>
    <CSocial>1.0</CSocial>
    <CCognitiva>1.0</CCognitiva>
    <CInercia>1.0</CInercia>
    <KValor>13</KValor>
    <SIMD>1</SIMD>
    <PCambio>0.9</PCambio>
    <BK>0</BK>
    <VInicial>1</VInicial>
    <VControl>1</VControl>
    <IDinamica>0</IDinamica>
    <CAleatoria>1</CAleatoria>
    <WSComunicacion>1</WSComunicacion>
    <WSRealtime>1</WSRealtime>
    <DATABASE>104</DATABASE>
    <RUNS>1</RUNS>
</Config>