<?xml version="1.0" encoding="UTF-8" ?>

<!-- @file config.xml -->
<!-- @author Jesús López Rodríguez (jlopezpeque@hotmail.com) -->
<!-- @date 16/02/2022 -->
<!-- @brief File with the program configurations -->
<!-- @copyright Copyright (c) 2022 -->


<Config>
    <NParticulas>60</NParticulas>
    <NHebras>12</NHebras>
    <NMaxIteraciones>20</NMaxIteraciones>
    <CSocial>1.0</CSocial>
    <CCognitiva>1.0</CCognitiva>
    <CInercia>1.0</CInercia>
    <KValor>3</KValor>
    <SIMD>1</SIMD>
</Config>